h4 {
    margin-top: 5%;
    text-align: center;
}

#cart-image {
    margin: 5%;
    width: 20%;
}

.list-cart {
    margin-top: 6vh;
}

.center {
    text-align: center;
}

.space {
    margin: 5%;
}