h5 {
    text-align: center;
    color: #212529;
    padding-bottom: 1%;
}

.content {
    padding: 2% 3%;
}

.row {
    margin-right: auto;
}

#card { width: 25% !important }

.my-spinner {
    margin: 10% 50%;
}

@media (max-width: 1400px ) {

    #card { width: 25% !important }
}

@media (max-width: 1060px ) {

    #card { width: 33.33% !important }
}
    

@media (max-width: 600px ) {

    #card { width: 100% !important }
}