.card {
    width: 24%;
    margin-bottom: 10px;
    text-align: center;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

.container-1 { 
    margin-bottom: 20px;
}

.first {
    margin-top: 20%;
}

.price {
    color: #6469B2;
    border-radius: 25%;
    padding: 2px 4px;
    box-shadow: 2px 2px 20px#6c757d;
}

a{
    color: #212529 !important;
    text-decoration: none !important;
}

a:hover { color: #6469B2 !important}